<%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/nav') %> <!-- This is how we use partials in EJS similar as we used components in React.JS -->
      <main class="h-auto flex flex-col justify-center items-center">
        <h1 class="text-5xl text-red-500 font-bold mt-10">404</h1>
        <p>Oops! Page Not Found</p>
        <a href="/" class="bg-red-500 text-white px-4 py-2 rounded-md shadow hover:bg-red-400 transition w-40 mt-5">
          Go Back Home
        </a>
      </main>
  </body>

  </html>