<%- include('partials/head') %> <!-- This is how we use partials in EJS similar as we used components in React.JS -->
  </head>

  <body>
    <%- include('partials/nav') %> <!-- This is how we use partials in EJS similar as we used components in React.JS -->
      <main class="bg-amber-100 h-auto">
        <h1 class="text-5xl h-30  mt-10">Home registered successfully</h1>
        <a href="/" class="bg-red-500 text-white px-4 py-2 rounded-md shadow hover:bg-red-400 transition ml-5 mt-5">
          Return to Home
        </a>
      </main>

  </body>

  </html>